<div class="customer-management">
  <h1>Customer Management</h1>

  <!-- Button to toggle the add form -->
  <button (click)="showAddForm = !showAddForm">{{ showAddForm ? 'Cancel' : 'Add New Customer' }}</button>

  <!-- Form to add or edit a customer -->
  <form *ngIf="showAddForm" (ngSubmit)="onSubmit()" #customerForm="ngForm" class="form-container">
    <div class="form-group">
      <label for="firstName">First Name:</label>
      <input type="text" id="firstName" required [(ngModel)]="customer.firstName" name="firstName" #firstName="ngModel">
    </div>
    <div class="form-group">
      <label for="lastName">Last Name:</label>
      <input type="text" id="lastName" required [(ngModel)]="customer.lastName" name="lastName" #lastName="ngModel">
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" id="email" required [(ngModel)]="customer.email" name="email" #email="ngModel">
    </div>
    <div class="form-group">
      <label for="phone">Phone:</label>
      <input type="text" id="phone" required [(ngModel)]="customer.phone" name="phone" #phone="ngModel">
    </div>
    <button type="submit" [disabled]="customerForm.invalid">Add Customer</button>
  </form>

  <!-- List of existing customers -->
  <div *ngIf="customers.length">
    <h2>Customer List</h2>
    <ul class="customer-list">
      <li *ngFor="let customer of customers" class="customer-item">
        {{ customer.firstName }} {{ customer.lastName }} - {{ customer.email }} - {{ customer.phone }}
        <button (click)="editCustomer(customer)">Edit</button>
        <button (click)="deleteCustomer(customer.customerId!)">Delete</button>
        <ul *ngIf="customer.vehicles?.length">
          <li *ngFor="let vehicle of customer.vehicles">
            {{ vehicle.vin }} - {{ vehicle.make }} {{ vehicle.model }} ({{ vehicle.year }})
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
