<!-- <p>demop works!</p>

<p>Original:{{today}}</p>
<p>Transformed:{{today|date:'fullDate'}}</p>
<p>Original:{{text}}</p>
<p>Original:{{text| gmail}}</p>
<p>Reversed:{{text|reverse}}</p>
<p>Letter:{{text|letter}}</p>
<p>Transformed:{{text| uppercase}}</p>
<p>Transformed:{{text| lowercase}}</p>
<p>Original:{{amount}}</p>
<p>Transformed:{{amount| currency:'USD'}}</p>
<p>Original:{{percentage}}</p>
<p>Transformed:{{percentage| percent}}</p>
<p>Temperature is:{{z| temperature}}</p>
<p>Roman To Integer  is:{{rom| roi}}</p>
<p>Integer to Roman is:{{y| ior}}</p> -->


