<div class="vehicle-management">
  <h1>Vehicle Management</h1>

  <!-- Button to toggle the add form -->
  <button (click)="showAddForm = !showAddForm">{{ showAddForm ? 'Cancel' : 'Add New Vehicle' }}</button>

  <!-- Form to add or edit a vehicle -->
  <form *ngIf="showAddForm" (ngSubmit)="onSubmit()" #vehicleForm="ngForm" class="form-container">
    <div class="form-group">
      <label for="vin">VIN:</label>
      <input type="text" id="vin" required [(ngModel)]="vehicle.vin" name="vin" #vin="ngModel">
    </div>
    <div class="form-group">
      <label for="make">Make:</label>
      <input type="text" id="make" required [(ngModel)]="vehicle.make" name="make" #make="ngModel">
    </div>
    <div class="form-group">
      <label for="model">Model:</label>
      <input type="text" id="model" required [(ngModel)]="vehicle.model" name="model" #model="ngModel">
    </div>
    <div class="form-group">
      <label for="year">Year:</label>
      <input type="number" id="year" required [(ngModel)]="vehicle.year" name="year" #year="ngModel">
    </div>
    <div class="form-group">
      <label for="customerId">Customer ID:</label>
      <input type="number" id="customerId" required [(ngModel)]="vehicle.customerId" name="customerId" #customerId="ngModel">
    </div>
    <button type="submit" [disabled]="vehicleForm.invalid">Add Vehicle</button>
  </form>

  <!-- List of existing vehicles -->
  <div *ngIf="vehicles.length">
    <h2>Vehicle List</h2>
    <ul class="vehicle-list">
      <li *ngFor="let vehicle of vehicles" class="vehicle-item">
        {{ vehicle.vin }} - {{ vehicle.make }} {{ vehicle.model }} ({{ vehicle.year }}) 
        - Owner: {{ vehicle.customer?.firstName }} {{ vehicle.customer?.lastName }}
        <button (click)="editVehicle(vehicle)">Edit</button>
        <button (click)="deleteVehicle(vehicle.vehicleId!)">Delete</button>
      </li>
    </ul>
  </div>
</div>
