/* General Styling */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #eaeaea;
}

/* Home Container Styling */
.home-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Project Header */
.project-header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.project-header h1 {
  margin: 0;
}

/* Main Content */
.main-content {
  display: flex;
  flex: 1;
  padding: 20px;
  background-color: #f4f4f4;
}

/* Sidebar */
.sidebar {
  background-color: #007bff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  flex: 1;
  margin-right: 20px;
  color: #fff;
}

.sidebar button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  background-color: #0056b3;
  color: #fff;
  cursor: pointer;
  text-align: left;
  border-radius: 5px;
}

.sidebar button:hover {
  background-color: #004494;
}

/* Welcome Message and Current Date */
.welcome-date-container {
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  flex: 3;
}

.welcome-message {
  margin-bottom: 20px;
}

.current-date {
  font-weight: bold;
}

.current-date span {
  color: #007bff;
}

/* Footer */
.project-footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 20px;
  position: static;
  width: 100%;
  bottom: 0;
}

.project-footer p {
  margin: 0;
}
