<div class="container mt-5">
  <h2>Admin Dashboard</h2>

  <nav class="nav nav-pills flex-column flex-sm-row">
    <a class="flex-sm-fill text-sm-center nav-link" routerLink="vehicles">Manage Vehicles</a>
    <a class="flex-sm-fill text-sm-center nav-link" routerLink="customers">Manage Customers</a>
    <a class="flex-sm-fill text-sm-center nav-link" routerLink="service-reps">Manage Service Reps</a>
    <a class="flex-sm-fill text-sm-center nav-link" routerLink="work-items">Manage Work Items</a>
    <a class="flex-sm-fill text-sm-center nav-link" routerLink="change-password">Change Password</a>
  </nav>
  
  <router-outlet></router-outlet>
</div>
